<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SISV"
			 connectionString="Data Source=.;Initial Catalog=SISV;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="Smtp.Host" value="smtp.gmail.com"/>
		<add key="Smtp.Port" value="587"/>
		<add key="Smtp.EnableSsl" value="true"/>

		<add key="Smtp.User" value="proyectsisv@gmail.com"/>
		<add key="Smtp.Pass" value="gsiorodcmjryfhtw"/>
		<add key="Smtp.FromEmail" value="proyectsisv@gmail.com"/>
		<add key="Smtp.FromName" value="SISV"/>
	</appSettings>

</configuration>
